
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "dataone employees employees employees"
        "paidouts cuts cuts cuts"
        "start-drawer start-drawer end-drawer end-drawer"
        "breakdown breakdown breakdown breakdown";
    
    justify-content: stretch;
    align-content: stretch;

    height: 150vh;
    width: 100vw;
}

.dataone {
    grid-area: dataone;
    background-color: red;
}

.employees {
    grid-area: employees;
    background-color: blue;
}

.paidouts {
    grid-area: paidouts;
    background-color: yellow;
}

.cuts {
    grid-area: cuts;
    background-color: cyan;
}

.startdrawer {
    grid-area: start-drawer;
    background-color: purple;
}

.enddrawer {
    grid-area: end-drawer;
    background-color: magenta;
}

.breakdown {
    grid-area: breakdown;
    background-color: darkgreen;
}